@using HamsterWarsV2.Blazor.Services
@inject IRequestService RequestService

<div class="progress my-2 percentageBar">
    <div class="progress-bar" role="progressbar" style="width: @percentage%" aria-valuemin="0" aria-valuemax="100">
        @percentage%
    </div>
</div>


@code {
    private List<Hamster>? hamsters;
    private List<Battle>? battles;
    private Hamster? winnerHamster;
    private Hamster? loserHamster;

    private int? percentage;

    protected override async Task OnInitializedAsync()
    {
        hamsters = await RequestService.GetHamsters();
        battles = await RequestService.GetBattles();

        PercentageBarServices.CalculatePercentage(hamsters, battles);
    }
    /// <summary>
    /// Component that shows how likley the hamster that won was. Calculates with PercentageCalculator.Calculate.
    /// </summary>
}
