@using HamsterWarsV2.Blazor.Services
@inject IRequestService RequestService

@if (hamsters is null)
{
    <p><em>Loading...</em></p>
}
else
{
    if(battles.Count() != 0)
    {
    <div class="displayed">
        <div class="absoluteResultLeft">
            <h5>@winnerHamster.Name won</h5>
            <img src="/Images/@winnerHamster.ImageName" align="bottom" style="width:300px;height:200px;">
        </div>
        <div class="absoluteResultRight">
            <h5>@loserHamster.Name lost</h5>
            <img src="/Images/@loserHamster.ImageName" align="bottom" style="width:300px;height:200px;">
        </div>
        <PercentageBar />
    </div>
    }
}

@code {
    private List<Hamster>? hamsters;
    private List<Battle>? battles;
    private Hamster? winnerHamster;
    private Hamster? loserHamster;


    protected override async Task OnInitializedAsync()
    {
        hamsters = await RequestService.GetHamsters();

        battles = await RequestService.GetBattles();

        if (battles.Count() != 0)
        {
            winnerHamster = RemovedHamsterHelperClass.ReturnLastBattleWinner(hamsters, battles);
            loserHamster = RemovedHamsterHelperClass.ReturnLastBattleLoser(hamsters, battles);
        }

        StateHasChanged();
    }
    /// <summary>
    /// Shows two hamsters from the last battle.
    /// </summary>
}
