@page "/Gallery"

@inject IRequestService RequestService


<AddHamster />

<h4>Our Hamsters</h4>

@if (hamsters is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
    @foreach (Hamster hamster in hamsters)
    {
        <div class="column">
        <Card hamster="hamster"/>
        </div>
    }
    </div>
}

@code {
    private List<Hamster> hamsters;

    protected override async Task OnInitializedAsync()
    {
        hamsters = await RequestService.GetHamsters();

        var activeHamsters = from hamster in hamsters
                             where hamster.Status == "Active"
                             select hamster;

        hamsters = activeHamsters.ToList();

    }
    }
