@page "/History"
@using HamsterWarsV2.Blazor.Services

@inject NavigationManager _nav
@inject IRequestService RequestService


<h3>History</h3>

@if (battles is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>Winner</th>
                <th>Loser</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var battle in battles)
            {
                <tr>
                    <td>@battle.Date</td>
                    <td>@RemovedHamsterHelperClass.CheckIfHamsterExists(hamsters, battle.Winner_ID).Name</td>
                    <td>@RemovedHamsterHelperClass.CheckIfHamsterExists(hamsters, battle.Loser_ID).Name</td>
                    <td><button type="button" @onclick="(() => RemoveBattle(battle))" class="btn btn-danger">REMOVE</button></td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private List<Hamster>? hamsters;
    private List<Battle>? battles;

    protected override async Task OnInitializedAsync()
    {
        hamsters = await RequestService.GetHamsters();

        battles = await RequestService.GetBattles();
        battles = ListOrderService.OrderBattleByDate(battles);

        StateHasChanged();
    }

    private async Task RemoveBattle(Battle battle)
    {
        await RequestService.DeleteBattle(battle);

        _nav.NavigateTo(_nav.Uri, forceLoad: true);
    }
}
