@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Hamster Wars</h1><br />
    <hr />
<span>This homepage - is a battleground where only the cutest hamster will win!</span><br />
<hr />
<span>Battleground - The two big pictures of hamsters on the screen are the two hamsters that are in a battle. Pick the winner by clicking on the hamster you think is the most cute!<br />
    The result of the latest match will show with two smaller pictures under. The bar shows who was the hamster favored to win</span><br />
    <hr />
    <span>Leaderboard - All of the hamsters different winrates. The top 3 hamsters also have pictures</span><br />
      <hr />
<span>Gallery - This is the gallery to look at the different hamsters. You can add and remove hamsters here aswell</span>
    <hr />
