@page "/Statistics"

@inject IRequestService RequestService

<h3>Statistics</h3>


<h1>Leaderboard</h1>


@if (hamsters is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h4>Top 5 Winners</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @foreach (var hamster in hamsterWinners)
                    {
                        <Card hamster="hamster" />
                    }
                </td>
            </tr>

        </tbody>
    </table>

    <h4>Top 5 Losers</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @foreach (var hamster in hamsterLosers)
                    {
                        <Card hamster="hamster" />
                    }
                </td>
            </tr>

        </tbody>
    </table>
}

@code {
    private List<Hamster> hamsters;
    private List<Hamster> hamsterWinners;
    private List<Hamster> hamsterLosers;

    protected override async Task OnInitializedAsync()
    {
        hamsters = await RequestService.GetHamsters();

        hamsterWinners = await RequestService.GetWinnerHamsters();
        hamsterLosers = await RequestService.GetLoserHamsters();
    }

}
